#queryDiv, #resultDiv {
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    width: 90%;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#patientInsertForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#patientSelectForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#resultTable {
    margin: 20px;
    border-collapse: collapse;
    width: 90%;
    border: 1px solid #000;
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
}
